---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    
    {
        title: 'Desarrollador de Aplicaciones Web',
        date: 'Septiembre 2024 - Actualidad',
        link: '',
        description: 'Transformo tus ideas en sitios web únicos que reflejan la esencia de tu negocio. Ya sea que necesites un diseño desde cero o una actualización, estoy aquí para ayudarte. No solo entrego un producto, también me aseguro de que funcione a largo plazo, ofreciendo mantenimiento y actualizaciones según lo necesites.'
    },

    {
        title: 'Técnico de sistemas microinformáticos y redes',
        date: 'Marzo - Junio 2024',
        link: '',
        description: 'Desempeñaba labores como mantenimiento de servidores tanto software como hardware, mantenimiento y montaje de equipos informáticos, puesta a punto del puesto detrabajo de nuevos compañeros, y daba soporte al usuario presencial y remoto.'
    }
    
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                 
</ol>

