---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-400/20 rounded-lg shadow backdrop-blur-lg m-4 w-full xl:w-[1120px] mx-auto ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {currentYear} <a href="https://www.github.com/LoloD3V" class="hover:underline">Lolodev</a>. Casi todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre Mí</a>
        </li>
        <li>
            <a href="#contacto" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
