<header class="px-6 flex justify-center items-center py-5 w-[50%] xl:w-[740px] mx-auto">

    <nav class="flex flex-row gap-x-2 md:gap-x-4 opacity-80 text-sm xl:text-base">
        <a class="rounded-full backdrop-blur-lg py-2 px-5 hover:bg-gray-400/20 " href="/#experiencia">Experiencia</a>
        <a class="rounded-full backdrop-blur-lg py-2 px-5 hover:bg-gray-400/20 " href="/#proyectos">Proyectos</a>
        <a class="rounded-full backdrop-blur-lg py-2 px-5 hover:bg-gray-400/20 " href="/#sobre-mi">Sobre mí</a>
        <a class="rounded-full backdrop-blur-lg py-2 px-5 hover:bg-gray-400/20 " href="mailto:mespinosasanz@gmail.com">Contacto</a>
    </nav>
</header>