<header class="sticky top-4 inline-flex items-center py-2 px-4 sm:px-5 w-auto mx-auto bg-white/60 backdrop-blur-md rounded-full z-50 overflow-hidden">
    <nav class="flex flex-row flex-wrap gap-x-2 sm:gap-x-3 md:gap-x-4 opacity-80 text-xs sm:text-sm md:text-base">
        <a class="rounded-full py-1 px-3 sm:px-3 md:px-4 hover:bg-gray-400/20" href="/#experiencia">Experiencia</a>
        <a class="rounded-full py-1 px-3 sm:px-3 md:px-4 hover:bg-gray-400/20" href="/#proyectos">Proyectos</a>
        <a class="rounded-full py-1 px-3 sm:px-3 md:px-4 hover:bg-gray-400/20" href="/#sobre-mi">Sobre mí</a>
        <a class="rounded-full py-1 px-3 sm:px-3 md:px-4 hover:bg-gray-400/20" href="mailto:mespinosasanz@gmail.com">Contacto</a>
    </nav>
</header>
